{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block page_content %}
{% include "menu.html"%}
<br>
<h3>Email info</h3>
<br>

<ul class="list-group">
  <li class="list-group-item"><strong>From: </strong>{{ email.sender }}</li>
  <li class="list-group-item"><strong>To: </strong>{{ email.recipient }}</li>
  <li class="list-group-item"><strong>Subject: </strong>{{ email.subject }}</li>
  <li class="list-group-item"><strong>Received: </strong>{{ email.created.strftime('%b %d, %Y  %H:%M') }}</li>
  <li class="list-group-item"><p>{{ email.message.replace("\n", '</p><p>') }}</p></li>

</ul>
<br>
<a href="/emails/{{ email.key.id() }}/delete">Delete email</a>

{% endblock page_content %}
