{% extends "base.html" %}

{% block title %}New email{% endblock title %}

{% block page_content %}
{% include "menu.html"%}

<h1>Create new email</h1>
<a href="{{ logout_url }}">Logout</a>

<form method="post">
    <p>
      <lable for="recipient">To:</lable>
      <input name="recipient" id="recipient" type="email">
    <p/>
    <p>
      <lable name="subject" for="subject">Subject:</lable>
        <input id ="subject" name="subject"></p>
    <p>
      <lable name="message" for="message">Your message:</lable>
      <input id="message" name="message" type="text">
    </p>
    <p><button type="submit">Send</button></p>
</form>

{% endblock page_content %}
