{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block page_content %}
{% include "menu.html"%}

<div class="container">
  <h3>Create new email</h3>

  <form id="new_email" method="post">
      <div class="form-group">
        <lable for="recipient">To:</lable>
        <input name="recipient" id="recipient" type="email" class="form-control form-control-sm" placeholder="Add recipient" required>
      </div>
      <div class="form-group">
        <lable name="subject" for="subject">Subject:</lable>
        <input id ="subject" name="subject" type="text" class="form-control form-control-sm" placeholder="Add subject" required>
      </div>
      <div class="form-group">
        <lable name="message" for="message">Your message:</lable>
        <textarea id="message" name="message" form="new_email" class="form-control" rows=10 placeholder="Enter your message" required></textarea>
      </div>
      <p><button type="submit" class="btn btn-outline-danger">Send</button></p>
  </form>
</div>

{% endblock page_content %}
