{% extends "base.html" %}

{% block title %}Inbox{% endblock title %}

{% block page_content %}
    <h1>Hello, {{ user.nickname() }}!</h1>
    {% include "menu.html" %}
    <h1>{{ view_name }} messages</h1>

    {% for e in emails %}
      <p>
        {% if view_name == "Inbox"%}
          {{ e.sender }}
        {% else %}
          {{ e.recipient }}
        {% endif %}
        {{ e.subject }}
         <a href="/emails/{{ e.key.id() }}">{{ e.message }}</a>
      </p>
    {% endfor %}
{% endblock page_content %}
