{% extends "template_page.html" %}

{% block content %}

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Spain Digital Jobs</h3>
              <div class="subheading mb-3">Wordpress, Bootstrap, Instapage</div>
              <p>This is a platform where people can search and apply for English-speaking jobs in Spain in web development, online marketing, web design, etc.</p>
              <p>Check it out: <a href="https://www.spaindigitaljobs.com/">www.spaindigitaljobs.com</a></p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">We Make Renders</h3>
              <div class="subheading mb-3">HTML5, CSS3, Javascript, JQuery</div>
              <p>WeMakeRenders is a computer graphics agency specializing in computer-rendered architecture.</p>
              <p>Check it out: <a href="http://wemakerenders.com/">wemakerenders.com</a></p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Current time</h3>
              <div class="subheading mb-3">Python, webapp2, jinja</div>
              <p>This is a basic page that shows current time</p>
              <p>Check out in <a href="https://github.com/AnnaLara/smartninjacourse/tree/master/current_time">GitHub</a></p>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">CSI Forensics Program</h3>
              <div class="subheading mb-3">Python</div>
              <p>The programs analises DNA of an unknown criminal, features of the suspects and tells who from the suspects commited the crime.</p>
              <p>Check out in <a href="https://github.com/AnnaLara/smartninjacourse/tree/master/CSI_forensics_program">GitHub</a></p>
            </div>
          </div>



        </div>

</section>

{% endblock %}